---
layout: default
home: true
---

<h3 class="posts-item-note2" aria-label="Recent Posts">Selected Papers</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
{% if post.categories != empty %}
<article class="post-item">
  <span hidden itemprop="categories" itemtype="Person">{{ post.categories }}</span>

  <!-- 포스트 로고를 post-item-date 자리에 배치 -->
  <span class="post-item-date">
    {% if post.image %}
      <img src="{{ post.image }}" alt="Post Logo" style="height: 24px; vertical-align: middle;">
    {% else %}
      <!-- 기본 로고 추가 가능 -->
      <img src="https://raw.githubusercontent.com/J-Seo/J-Seo.github.io/main/assets/img/default.png" alt="Default Logo" style="height: 24px; vertical-align: middle;">
    {% endif %}
  </span>
  <!-- 포스트 제목 및 저자 정보 추가 -->
  <h4 class="post-item-title">
      <a href="{{ post.url }}">{{ post.title }}{% if post.authors %} - <span style="color: gray; font-style: italic;">{{post.authors | replace: "Jaehyung Seo", "<strong>Jaehyung Seo</strong>" | markdownify |  strip_newlines | strip_html }}</span>{% endif %}</a>
  </h4>
{% endif %}
</article>
{%- endfor -%}