---
layout: default
home: true
---

<style>
  ul.news-list { list-style: none; padding-left: 0; margin-left: 0; }
  ul.news-list li { margin: .35rem 0; }
  ul.news-list li::marker { content: ""; }           /* 브라우저 기본 불릿 제거 */
  ul.news-list li:before { content: none !important; }/* 테마가 넣은 '–' 제거 */
</style>

<h3 class="posts-item-note2" aria-label="Recent Updates">Latest News</h3>
<ul class="news-list">
  <li>🏅 <b>Aug 2025</b>: Appointed to the <b>National Representative K-AI Research Team</b> (with NC AI).</li>
  <li>🔥 <b>May 2025</b>: 1 paper accepted at <b>ACL 2025</b>.</li>
  <li>🔥 <b>Feb 2025</b>: 1 paper accepted at <b>ICLR 2025</b>.</li>
  <li>🔥 <b>Feb 2025</b>: 2 papers accepted at <b>NAACL 2025</b>.</li>
</ul>

<h3 class="posts-item-note2" aria-label="Recent Posts">Selected Papers</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
{% if post.categories != empty %}
<article class="post-item">
  <span hidden itemprop="categories" itemtype="Person">{{ post.categories }}</span>

  <!-- 포스트 로고를 post-item-date 자리에 배치 -->
<!--   <span class="post-item-date">
    {% if post.image %}
      <img src="{{ post.image }}" alt="Post Logo" style="height: 24px; vertical-align: middle;">
    {% else %}
      <!-- 기본 로고 추가 가능 -->
      <img src="https://raw.githubusercontent.com/J-Seo/J-Seo.github.io/main/assets/img/default.png" alt="Default Logo" style="height: 24px; vertical-align: middle;">
    {% endif %} -->
  </span>
  <!-- 포스트 제목 및 저자 정보 추가 -->
<h4 class="post-item-title">
  <a href="{{ post.url }}">{{ post.title }}</a><br>
  {% if post.authors %}
    <span style="color: gray; font-style: italic;">
      {{ post.authors | replace: "Jaehyung Seo", "<strong>Jaehyung Seo</strong>" }}
    </span><br>
  {% endif %}
  {% if post.Journal %}
    <span style="color:#808080;">
      {{ post.Journal }}
    </span>
  {% endif %}
</h4>
{% endif %}
</article>
{%- endfor -%}
